@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	/* dark */
	--brand-dark: #111111;

	/* light */
	--brand-light: #f3ffe5;

	--theme-text-primary: var(--theme-secondary);
	--theme-text-secondary: var(--theme-primary);
	--theme-bg-primary: var(--theme-primary);
	--theme-bg-secondary: var(--theme-secondary);
}

:root {
	color-scheme: light;

	--theme-primary: var(--brand-light);
	--theme-secondary: var(--brand-dark);
}

@media (prefers-color-scheme: dark) {
	:root {
		color-scheme: dark;

		--theme-primary: var(--brand-dark);
		--theme-secondary: var(--brand-light);
	}
}

[color-scheme='light'] {
	color-scheme: light;

	--theme-primary: var(--brand-light);
	--theme-secondary: var(--brand-dark);
}

[color-scheme='dark'] {
	color-scheme: dark;

	--theme-primary: var(--brand-dark);
	--theme-secondary: var(--brand-light);
}

@layer base {
	@supports (font-variation-settings: normal) {
		@font-face {
			font-family: 'TASA Explorer';
			font-style: normal;
			font-weight: 1 999;
			font-display: swap;
			src: url('/fonts/TASAExplorerVF.woff2') format('woff2-variations');
		}
		@font-face {
			font-family: 'TASA Orbiter';
			font-style: normal;
			font-weight: 1 999;
			font-display: swap;
			src: url('/fonts/TASAOrbiterVF.woff2') format('woff2-variations');
		}
	}

	@supports (font-variation-settings: normal) {
		@font-face {
			font-family: 'Open Sans';
			font-style: normal;
			font-weight: 300 800;
			font-display: swap;
			src: url('/fonts/OpenSans-Regular.woff2') format('woff2-variations');
		}
	}
}

@layer utilities {
	.surface-primary {
		color: var(--theme-text-primary);
		background-color: var(--theme-bg-primary);
	}

	.surface-secondary {
		color: var(--theme-text-secondary);
		background-color: var(--theme-bg-secondary);
	}

	.shifting-bg {
		--tw-gradient-stops: #ff8719 0%, #4651ff 20.13%, #93c0ff 41.517%, #d4db00 61.635%,
			#ffe87a 81.138%, #ff8719 100%;
		--under-start-position: calc(150% - 0%);

		background-size: 300% 300%;
		animation: ScrollGradientXY 45s linear infinite;
		background-image: linear-gradient(to right, var(--tw-gradient-stops));
		background-position: var(--under-start-position) var(--under-start-position);
	}

	@keyframes ScrollGradientXY {
		0% {
			background-position: calc(150% + var(--under-start-position))
				calc(150% + var(--under-start-position));
		}
		100% {
			background-position: calc(-150% + var(--under-start-position))
				calc(-150% + var(--under-start-position));
		}
	}

	.levity {
		--elevate-height: 8px;
		--tw-translate-x: calc(var(--elevate-height) * -1);
		--tw-translate-y: calc(var(--elevate-height) * -1);
	}

	.focus-ring {
		@apply ring-offset-4 ring-[color:var(--theme-secondary)] transition duration-300 focus-within:outline-none focus-within:ring-2 hover:ring-2 focus:outline-none focus:ring-2 disabled:ring-0 group-hover:ring-2 group-focus:ring-2 ring-offset-[color:var(--theme-primary)];
	}

	/* Blog Article */
	/* ------------------ */
	.article {
		font-family: 'Open Sans';
		letter-spacing: 0.005em;
	}
	.article p {
		font-size: 1.188rem;
		line-height: 1.4;
		font-weight: 400;
		margin-top: 0;
		margin-bottom: 2rem;
	}
	.heading {
		font-size: 4.5rem;
		line-height: 1;
		letter-spacing: -0.2rem;
		font-weight: 400;
	}
	@media screen and (max-width: 991px) {
		.heading {
			font-size: 3.75rem;
		}
	}
	@media screen and (max-width: 767px) {
		.heading {
			font-size: 3rem;
		}
	}
	@media screen and (max-width: 479px) {
		.heading {
			font-size: 2.5rem;
		}
	}
	.summary {
		font-size: 1.5rem;
		line-height: 1.3;
	}
	@media screen and (max-width: 991px) {
		.summary {
			font-size: 1.375rem;
		}
	}
	@media screen and (max-width: 767px) {
		.summary {
			font-size: 1.25rem;
		}
	}
	@media screen and (max-width: 479px) {
		.summary {
			font-size: 1.188rem;
			line-height: 1.4;
			letter-spacing: 0.005em;
		}
	}
	.article h2 {
		letter-spacing: -0.1rem;
		margin-top: 4rem;
		margin-bottom: 1.5rem;
		font-size: 3rem;
		font-weight: 400;
		line-height: 1.1;
	}
	/* NOTE: the order matters */
	@media screen and (max-width: 991px) {
		.article h2 {
			font-size: 2.75rem;
		}
	}
	@media screen and (max-width: 767px) {
		.article h2 {
			font-size: 2.5rem;
		}
	}
	@media screen and (max-width: 479px) {
		.article h2 {
			font-size: 2.063rem;
		}
	}
	/* ------------------ */

	/* Effect - underline on hover  */
	.underline-hover {
		display: inline-block;
		position: relative;
		text-decoration: none;
	}
	.underline-hover::before {
		content: '';
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: var(--theme-secondary);
		transform: scaleX(0);
		transition: transform 300ms ease-out;
		transform-origin: bottom right;
	}
	.underline-hover:hover::before {
		transform: scaleX(1);
		transform-origin: bottom left;
	}

	/* Effect - underline on hover (background) */
	.fancy-underline {
		background-image: linear-gradient(red, blue);
		background-size: 0% 3px;
		background-repeat: no-repeat;
		background-position: left bottom;
		transition: background-size 300ms ease-in-out;

		text-decoration: none;
	}
	.fancy-underline:hover {
		background-size: 100% 3px;
	}
}
